body {
    border-style: double;
    border-radius: 19px;
    border-width: 2em;
    border-color:rgb(114, 169, 216);
    background-color: blanchedalmond;
    height: 950px;
}
h1 {
    text-align: center;
    color:cadetblue;
    text-decoration:underline;
    font-family: cursive;
}
.bio {
    border-style: dashed;
    padding: 1em;
    width:50%;
    margin: auto;
    color:plum;
}
p {
    text-indent:50px;
}
   
div {
    float: left;
    width:30%;
    padding: 1em;
    color: darkorchid ;
    border-style: dotted;
    border-color:rgb(51, 209, 157);
    border-width: 10px;
    box-sizing: border-box;
    margin: 30px 12px 30px 12px;
    height: 250px;
    
}
.movie {
    clear: left;
    margin: 0 0 0 375px;
    color: rgb(12, 182, 182);
    
}
